:root{    
  --bg-dark: rgb(50,50,50);
  background-color: #f5f5f5;
}

* {
  font-family:  'Roboto', sans-serif;
  box-sizing: border-box;
}

.app{
  margin: 0px;
  display: grid;
  grid-template-areas: "logo header"
                       "menu content"
                       "menu footer" ;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 100px 1fr 40px;
  background-color: #f5f5f5;    
  height: 100vh;
}

aside.logo{
  grid-area: logo;    
}

header.header{
  grid-area: header;
}

aside.menu-area{
  grid-area: menu;
}

main.content{
  grid-area: content;
}

footer.footer{
  grid-area: footer;
}